@layer reset, theme, base, antd, components, utilities;

@import url(antd/dist/reset.css) layer(reset);
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

#root {
  height: 100vh;
  width: 100vw;
}

.ant-otp-input-wrapper {
  flex-grow: 1;
}

.scrollbar-none {
  scrollbar-width: none;
}
